@page "{groupId:int}"

@model TimeTrackerProject.Pages.GroupTimecardModel
@{
    ViewData["Title"] = "Group TimeCard";
}


<a asp-page="../AddTimecard" class="btn btn-primary" style="float:right;margin:0px 5px 5px 0px;">Add Time</a> <a asp-page="./Groups" class="btn btn-primary" style="float:right;margin: 0px 5px 0px 0px;"> All Groups</a>

<table class="table">
    <tr>
        <td><h1>@Model.Group.Name</h1></td>
    </tr>
    <tr class="headerRow">
        <td>TimeCard Id</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Work Comments</td>
        <td>Total Hours</td>
        <td>Group Id</td>
        <td>User Id</td>
    </tr>
    @foreach (var timeCard in Model.UserTimes)
    {
        <tr>
            <td>@timeCard.Id</td>
            <td>@timeCard.StartTime</td>
            <td>@timeCard.StopTime</td>
            <td>@timeCard.WorkComments</td>
            <td>@timeCard.TotalHours</td>
            <td>@timeCard.Group.Id</td>
            <td>@timeCard.User.Id</td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="headerRow">
        <td>Id: @Model.Group.Id</td>
        <td>Total Hours: @Model.Group.TotalHours</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<a asp-page="../AddTimecard" class="btn btn-primary" style="float:right;margin:0px 5px 5px 0px;">Add Time</a> <a asp-page="./Groups" class="btn btn-primary" style="float:right;margin: 0px 5px 0px 0px;"> All Groups</a>


@* CSS *@
<style>

    header {
        background: white;
    }

    footer {
        display: none;
    }

    body {
        background-color: #492365;
        background-image: url('../images/4703133.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    .table {
        background-color: white;
        margin: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .headerRow {
        font-weight: bold;
    }

    .btn {
        background-color: #009844;
        color: white;
        font-weight: bold;
        border-style: none;
    }

        .btn:hover {
            background-color: #00C957;
            border-style: none;
        }

        .btn:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
</style>
